Source: openapp-mysql
Section: database
Priority: extra
Maintainer: Mark Schouten <mark@tuxis.nl>
Build-Depends: debhelper
Standards-Version: 3.9.1
Homepage: http://www.openpanel.com/openapp/

Package: openapp-mysql
Architecture: any
Pre-Depends: openapp-backup, openapp-tuning, lighttpd, mysql-server
Suggests: openapp-xtrabackup
Depends: rsync, openapp-phpmyadmin-installer, openpanel-openapp-mod-mysql, openpanel-openapp-mod-smtp, openpanel-openapp-mod-backup, php5-cgi, php5-mysql
Provides: openapp-app
Conflicts: openapp-app
Description: This will install your MySQL OpenApp Appliance!
 Please note that you might need xtrabackup too. See
 http://openpanel.com/openapp-mysql for instructions
